# Bzlmod lockfile.
MODULE.bazel.lock
# Bazel symlinks, e.g. bazel-out.
bazel-*
user.bazelrc
# Generated Python artifacts.
*.pyc
*/**/__pycache__
# Vim swap files (used for recovery).
.*.swp
.*.swo
.*.swn
# Vim backups.
*~
.*~
# Vim undo files.
*.un~
.*.un~
# Wheel files.
wheel
