# Route github.com: try upstream first; fall back to official mirrors if
# upstream fails.
rewrite (github.com)/(.*) https://$1/$2
rewrite (github.com)/(.*) https://mirror.bazel.build/$1/$2
rewrite (github.com)/(.*) https://storage.googleapis.com/mirror.tensorflow.org/$1/$2

# Route files.pythonhosted.org (PyPI): try upstream first; fall back to mirrors
# if upstream fails.
rewrite (files\.pythonhosted\.org)/(.*) https://$1/$2
rewrite (files\.pythonhosted\.org)/(.*) https://mirror.bazel.build/$1/$2
rewrite (files\.pythonhosted\.org)/(.*) https://storage.googleapis.com/mirror.tensorflow.org/$1/$2